
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<div class="row height-background">
    <div class="form-group has-search" style="margin:auto;">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search">
    </div>
</div>
<div class="row ">

</div>
<script type="text/javascript">
        
</script>